<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Document</title>

    <style>
      h1 { color: red } p { color: blue }
    </style>

  </head>
  <body>
    <style>
      .booking { overflow: auto; width: 100%; } .booking table { border: 1px
      solid #DEDEDF; height: 100%; width: 100%; table-layout: auto;
      border-collapse: collapse; border-spacing: 1px; text-align: left; }
      .booking caption { caption-side: top; text-align: left; } .booking th {
      border: 1px solid #DEDEDF; background-color: #031B2B; color: #FFFFFF;
      padding: 10px; } .booking td { border: 1px solid #DEDEDF;
      background-color: #FFFFFF; color: #000000; padding: 10px; }
    </style>
    <div class='booking' role='region' tabindex='0'>
      <table>
        <caption>Your Appointment Details</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th><Details /></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Service</td>
            <td></td>
          </tr>
          <tr>
            <td>Location</td>
            <td></td>
          </tr>
          <tr>
            <td>Date</td>
            <td></td>
          </tr>
          <tr>
            <td>Vehicle</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>